<div class="conatiner" style="border: 2px solid green;">
 
    <div class="row">
    <div class="col-md-2  text-center col-sm-5 col-xs-11 btn btn-warning m-3 box">
     <p>Box 1</p> 
     
    </div>
    <div class="col-md-2 col-sm-5 col-xs-11 btn btn-danger m-3 box">
      <p>Box 2</p> 
    </div>
    <div class="col-md-2 col-sm-5 col-xs-11 btn btn-secondary m-3 box">
      <p>Box 3</p>
      
    </div>
   
    <div class="col-md-2 col-sm-5 col-xs-11 btn btn-warning m-3 box">
      <p>Box 4</p> 
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-sm-5 col-xs-11 btn btn-warning m-3 box">
     <p>Box 1</p> 
    </div>
    <div class="col-md-2 col-sm-5 col-xs-11 btn btn-danger m-3 box">
      <p>Box 2</p> 
    </div>
    <div class="col-md-2 col-sm-5 col-xs-11 btn btn-secondary m-3 box">
      <p>Box 3</p>
      
    </div>
   
    <div class="col-md-2 col-sm-5 col-xs-11 btn btn-warning m-3 box">
      <p>Box 4</p> 
    </div>
  </div>
  </div>
  
  <div class="container">
  <div class="row">
    <div class="col-md-2 col-sm-5 col-xs-11 btn btn-dark m-3 box">
      <p>Box 5</p> 
    </div>
    <div class="col-md-2 col-sm-5 col-xs-11 btn btn-secondary m-3 box">
      <p>Box 6</p> 
    </div>
    <div class="col-md-2 col-sm-5 col-xs-11 btn btn-success m-3 box">
      <p>Box 7</p> 
    </div>
    <div class="col-md-2 col-sm-5 col-xs-11 btn btn-primary m-3 box">
      <p>Box 8</p> 
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-sm-5 col-xs-11 btn btn-dark m-3 box">
      <p>Box 5</p> 
    </div>
    <div class="col-md-2 col-sm-5 col-xs-11 btn btn-secondary m-3 box">
      <p>Box 6</p> 
    </div>
    <div class="col-md-2 col-sm-5 col-xs-11 btn btn-success m-3 box">
      <p>Box 7</p> 
    </div>
    <div class="col-md-2 col-sm-5 col-xs-11 btn btn-primary m-3 box">
      <p>Box 8</p> 
    </div>
  </div>
  </div>

<app-cards></app-cards>


